<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inmob</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <meta name="description" content="<%= meta_description %>"> -->

    <!-- Facebook Open Graph data -->
    <!-- <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    < meta property="og:site_name" content="<%= meta_title %>" /> -->
    <!-- <%= favicon_link_tag %> -->
    <!-- <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%= stylesheet_pack_tag 'application', media: 'all' %> -->
<!--     <style>
      @import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
    </style> -->

  </head>
  <body>
    <div class="banner">
      <img src="logo/inmob_logo.jpg" class="logo" alt="Inmob logo"><br>
      <h1>Mobilier sur mesure</h1>
    </div>
    <div class="container content">
      <h2>inMob réalise du mobilier sur mesure, du prototype à la série.<br>

Tous types d’assises : chaise, fauteuil, canapé, banc. Nous travaillons déjà avec les principaux éditeurs de tissus, ce qui nous permet d’être réactif et compétitif.<br>

Bureaux, consoles, tables, têtes de lit entre autres.<br>

Nous fabriquons également des vitrines d’exposition pour galerie d’art ou musée.<br>

Nous pouvons vous accompagner sur la conception de votre mobilier ou fabriquer directement sur plans si vous savez ce que vous voulez exactement.<br>

Nos valeurs : satisfaction client, respect des délais, intégrité, responsabilité, proximité.<br>

Les clients qui nous font confiance sont des acteurs importants du secteur de l’hôtellerie-restauration, de l’immobilier, de la décoration intérieure, de l’architecture.</h2>

      <h3>Pour plus d'information, n’hésitez pas à nous contacter à l’adresse suivante : <span>jeremy@inmob.fr</span></h3>
    </div>
    <div class="footer">
      <h4>Contact</h4>
      <p><i class="far fa-envelope" style="padding-right: 10px"></i>jeremy@inmob.fr</p>
    </div>
  </body>
</html>
