<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inmob</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <meta name="description" content="<%= meta_description %>"> -->

    <!-- Facebook Open Graph data -->
    <!-- <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    < meta property="og:site_name" content="<%= meta_title %>" /> -->
    <!-- <%= favicon_link_tag %> -->
    <!-- <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%= stylesheet_pack_tag 'application', media: 'all' %> -->
<!--     <style>
      @import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
    </style> -->

  </head>
  <body>
    <div class="logo">
      <h1>Logo</h1>
    </div>
    <div class="container principal">
      <div class="left-part">
        <h1>ttoto</h1>
      </div>
      <div class="right-part">
        <h1>tati</h1>
      </div>
    </div>
  </body>
</html>
