<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inmob</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <meta name="description" content="<%= meta_description %>"> -->

    <!-- Facebook Open Graph data -->
    <!-- <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    < meta property="og:site_name" content="<%= meta_title %>" /> -->
    <!-- <%= favicon_link_tag %> -->
    <!-- <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%= stylesheet_pack_tag 'application', media: 'all' %> -->
<!--     <style>
      @import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
    </style> -->

  </head>
  <body>
    <div class="banner">
      <img src="logo/inmob_logo.jpg" class="logo" alt="Inmob logo">
    </div>
    <div class="container content">
      <h3>Écrivez nous</h3>
      <form class="contact-form">
        <div class="form-group">
          <input type="email" class="contact-form-input" placeholder="Nom">
        </div>
        <div class="form-group">
          <input type="password" class="contact-form-input" placeholder="Email">
        </div>
        <div class="form-group">
          <textarea name="message" class="contact-form-message" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="contact-form-button">Envoyer</button>
        </div>
      </form>
    </div>
    <div class="footer">
      <h4>Contact</h4>
      <p><i class="fas fa-phone"></i> "Numéro dee tel"</p>
      <p><i class="far fa-envelope"></i> "email"</p>
    </div>
  </body>
</html>
